<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.mobicage.rogerth.at"
          android:configChanges="orientation|screenSize"
          android:versionCode="2559"
          android:versionName="2.0.2559.A">

    <!-- BEGIN GCM -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE"/>
    <!-- END GCM -->

    <!-- BEGIN supports-screens -->
    <!-- END supports-screens -->

    <!-- Never broadcast internal intents without this permission -->
    <permission
        android:name="${applicationId}.permission.internal_intent"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.internal_intent"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <application
        android:name="com.mobicage.rogerthat.App"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="false"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <uses-library android:name="com.google.android.maps" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationName"
            android:value="@string/app_name"/>
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.mobicage.rogerthat.MainActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="com.mobicage.rogerthat.MainActivityAlias"
            android:enabled="true"
            android:exported="true"
            android:targetActivity="com.mobicage.rogerthat.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="rogerthat" />
                <data
                    android:host="x-callback-url"
                    android:scheme="mdp-${app_id}"/>
                <data
                    android:host="x-callback-url"
                    android:scheme="oauth-{app_id}"/>
            </intent-filter>
        </activity-alias>

        <activity
            android:name="com.mobicage.rogerthat.ContentBrandingMainActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

        <activity
            android:name="com.soundcloud.android.crop.CropImageActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.mobicage.rogerthat.plugins.messaging.ChatInfoActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.mobicage.rogerthat.MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>

        <activity
            android:name="com.mobicage.rogerthat.registration.RegistrationActivity2"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.registration.ContentBrandingRegistrationActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.registration.YSAAARegistrationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.QRCodeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.mobicage.rogerthat.NewsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.NewsPinnedActivity"
            android:parentActivityName="com.mobicage.rogerthat.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.plugins.messaging.FriendsThreadActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:parentActivityName="com.mobicage.rogerthat.MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.plugins.messaging.MembersActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:parentActivityName="com.mobicage.rogerthat.MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.plugins.messaging.MessagingActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.plugins.messaging.MessagingFilterActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.mobicage.rogerthat.MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>

        <activity
            android:name="com.mobicage.rogerthat.plugins.messaging.ServiceThreadActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.mobicage.rogerthat.MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.AddFriendsActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.mobicage.rogerthat.MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity android:name="com.mobicage.rogerthat.UserFriendsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.mobicage.rogerthat.ServiceFriendsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.ServiceActionsOfflineActivity"
            android:parentActivityName="com.mobicage.rogerthat.MainActivity"
            android:screenOrientation="portrait">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobicage.rogerthat.MainActivity" />

        </activity>
        <activity
            android:name="com.mobicage.rogerthat.FriendCategoryActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.mobicage.rogerthat.MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.plugins.friends.ServiceActionMenuActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.mobicage.rogerthat.MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.plugins.friends.RecommendServiceActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.mobicage.rogerthat.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.plugins.friends.ServiceSearchActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName="com.mobicage.rogerthat.MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.plugins.friends.FriendSearchActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.plugins.friends.ActionScreenActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.mobicage.rogerthat.MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.plugins.friends.ContentBrandingActionScreenActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.GetLocationActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.mobicage.rogerthat.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.SettingsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.plugins.scan.ScanTabActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.plugins.scan.ProfileActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.plugins.scan.ProcessScanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.plugins.scan.InviteFriendActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.mobicage.rogerthat.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.plugins.scan.ServiceActionActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.mobicage.rogerthat.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.ServiceDetailActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.mobicage.rogerthat.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.UserDetailActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.mobicage.rogerthat.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobicage.rogerthat.MainActivity" />

        </activity>
        <activity
            android:name="com.mobicage.rogerthat.FriendDetailOrInviteActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.mobicage.rogerthat.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.plugins.messaging.ServiceMessageDetailActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.mobicage.rogerthat.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.plugins.messaging.AttachmentViewerActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.mobicage.rogerthat.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.FriendsLocationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.AboutActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.mobicage.rogerthat.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>

        <activity
            android:name="com.mobicage.rogerthat.SendMessageContactActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.mobicage.rogerthat.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.SendMessageMessageActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName="com.mobicage.rogerthat.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.SendMessageButtonActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.mobicage.rogerthat.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>

        <activity
            android:name="com.mobicage.rogerthat.plugins.history.HistoryListActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.mobicage.rogerthat.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.GroupDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.plugins.trackme.MapDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.registration.DetectedBeaconActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.MoreActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.OauthActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.SetupPinActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.mobicage.rogerthat.EnterPinActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.commonsware.cwac.cam2.CameraActivity"
            android:theme="@android:style/Theme.Holo.Light"
            android:icon="@drawable/rogerthat_camera"
            android:label="@string/camera" />
        <activity
            android:name="com.commonsware.cwac.cam2.VideoRecorderActivity"
            android:theme="@android:style/Theme.Holo.Light"
            android:icon="@drawable/rogerthat_camera"
            android:label="@string/camera" />

        <activity
            android:name="com.mobicage.rogerthat.QuickReplyActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@style/NoTitleDialogTheme"/>
        <!--todo: Needs to be restyled-->
        <!--<receiver-->
            <!--android:name="com.mobicage.rogerthat.widget.RogerthatWidgetProvider"-->
            <!--android:exported="false"-->
            <!--android:label="@string/widget_name" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
            <!--</intent-filter>-->

            <!--<meta-data-->
                <!--android:name="android.appwidget.provider"-->
                <!--android:resource="@xml/rogerthat_widget_provider" />-->
        <!--</receiver>-->

        <receiver
            android:name="com.mobicage.rogerthat.GCMReveiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.mobicage.rogerthat.MainBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name="com.mobicage.rogerthat.MainService" />
        <service android:name="com.mobicage.rogerthat.registration.RegistrationService" />
        <service
            android:name="org.altbeacon.beacon.service.BeaconService"
            android:exported="false" />
        <service
            android:name="org.altbeacon.beacon.BeaconIntentProcessor"
            android:exported="false" />

        <!-- BEGIN FB -->
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider${facebook_content_provider_id}"
            android:exported="true"/>
        <!-- END FB -->

    </application>

</manifest>
