<?xml version='1.0' encoding='utf-8'?>
<manifest android:configChanges="orientation|screenSize" android:versionCode="3129" android:versionName="2.0.3129.A" package="com.mobicage.rogerth.at" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="${applicationId}.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />
    <permission android:name="${applicationId}.permission.internal_intent" android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.internal_intent" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.front" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.screen.portrait" android:required="false" />
    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-feature android:name="android.hardware.location" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />
    <uses-feature android:name="android.hardware.location.network" android:required="false" />
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false" />
    <application android:allowBackup="false" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:name="com.mobicage.rogerthat.App" android:theme="@style/AppTheme" tools:replace="android:allowBackup">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id" />
        <meta-data android:name="com.facebook.sdk.ApplicationName" android:value="@string/app_name" />
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="${google_maps_api_key}" />
        <activity android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" android:label="@string/app_name" android:name="com.facebook.FacebookActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:configChanges="keyboardHidden" android:exported="true" android:label="@string/app_name" android:name="com.mobicage.rogerthat.MainActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity-alias android:enabled="true" android:exported="true" android:name="com.mobicage.rogerthat.MainActivityAlias" android:targetActivity="com.mobicage.rogerthat.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="rogerthat" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="x-callback-url" android:scheme="mdp-${app_id}" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="x-callback-url" android:scheme="oauth-${app_id}" />
            </intent-filter>
        </activity-alias>
        <activity android:configChanges="keyboardHidden" android:label="@string/app_name" android:name="com.mobicage.rogerthat.ContentBrandingMainActivity" android:screenOrientation="landscape" android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:configChanges="orientation|screenSize|keyboardHidden" android:name="com.google.zxing.client.android.CaptureActivity" android:screenOrientation="landscape" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.mobicage.rogerthat.plugins.messaging.ChatInfoActivity" android:parentActivityName="com.mobicage.rogerthat.MainActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:name="com.mobicage.rogerthat.registration.RegistrationActivity2" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity android:label="@string/app_name" android:name="com.mobicage.rogerthat.registration.ContentBrandingRegistrationActivity" android:screenOrientation="landscape" android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:label="@string/app_name" android:name="com.mobicage.rogerthat.registration.YSAAARegistrationActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:label="@string/app_name" android:name="com.mobicage.rogerthat.registration.OauthRegistrationActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="com.mobicage.rogerthat.HomeActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="com.mobicage.rogerthat.QRCodeActivity" android:screenOrientation="portrait" />
        <activity android:name="com.mobicage.rogerthat.AddQRCodeActivity" android:screenOrientation="portrait" />
        <activity android:name="com.mobicage.rogerthat.QRCodesActivity" android:screenOrientation="portrait" />
        <activity android:name="com.mobicage.rogerthat.NewsActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.mobicage.rogerthat.NewsPinnedActivity" android:parentActivityName="com.mobicage.rogerthat.MainActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.mobicage.rogerthat.plugins.messaging.FriendsThreadActivity" android:parentActivityName="com.mobicage.rogerthat.MainActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity android:name="com.mobicage.rogerthat.plugins.messaging.MembersActivity" android:parentActivityName="com.mobicage.rogerthat.MainActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity android:name="com.mobicage.rogerthat.plugins.messaging.MessagingActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.mobicage.rogerthat.plugins.messaging.MessagingFilterActivity" android:parentActivityName="com.mobicage.rogerthat.MainActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity android:name="com.mobicage.rogerthat.plugins.messaging.ServiceThreadActivity" android:parentActivityName="com.mobicage.rogerthat.MainActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity android:configChanges="orientation|screenSize" android:name="com.mobicage.rogerthat.AddFriendsActivity" android:parentActivityName="com.mobicage.rogerthat.MainActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity android:name="com.mobicage.rogerthat.UserFriendsActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.mobicage.rogerthat.ServiceFriendsActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.mobicage.rogerthat.ServiceActionsOfflineActivity" android:parentActivityName="com.mobicage.rogerthat.MainActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity android:name="com.mobicage.rogerthat.FriendCategoryActivity" android:parentActivityName="com.mobicage.rogerthat.MainActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity android:name="com.mobicage.rogerthat.plugins.friends.ServiceActionMenuActivity" android:parentActivityName="com.mobicage.rogerthat.MainActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity android:configChanges="orientation|screenSize" android:name="com.mobicage.rogerthat.plugins.friends.RecommendServiceActivity" android:parentActivityName="com.mobicage.rogerthat.MainActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity android:configChanges="orientation|screenSize" android:name="com.mobicage.rogerthat.plugins.friends.ServiceSearchActivity" android:parentActivityName="com.mobicage.rogerthat.MainActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity android:configChanges="orientation|screenSize" android:name="com.mobicage.rogerthat.plugins.friends.FriendSearchActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:configChanges="orientation|screenSize" android:name="com.mobicage.rogerthat.plugins.friends.ActionScreenActivity" android:parentActivityName="com.mobicage.rogerthat.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity android:configChanges="orientation|screenSize" android:name="com.mobicage.rogerthat.cordova.CordovaActionScreenActivity" android:parentActivityName="com.mobicage.rogerthat.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity android:configChanges="orientation|screenSize" android:name="com.mobicage.rogerthat.plugins.friends.ContentBrandingActionScreenActivity" android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="com.mobicage.rogerthat.GetLocationActivity" android:parentActivityName="com.mobicage.rogerthat.MainActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity android:name="com.mobicage.rogerthat.SettingsActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:configChanges="orientation|screenSize" android:name="com.mobicage.rogerthat.plugins.scan.ScanTabActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.mobicage.rogerthat.plugins.scan.ProfileActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.mobicage.rogerthat.plugins.scan.ProcessScanActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="com.mobicage.rogerthat.plugins.scan.InviteFriendActivity" android:parentActivityName="com.mobicage.rogerthat.MainActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity android:name="com.mobicage.rogerthat.plugins.scan.ServiceActionActivity" android:parentActivityName="com.mobicage.rogerthat.MainActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity android:name="com.mobicage.rogerthat.ServiceDetailActivity" android:parentActivityName="com.mobicage.rogerthat.MainActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity android:name="com.mobicage.rogerthat.UserDetailActivity" android:parentActivityName="com.mobicage.rogerthat.MainActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity android:name="com.mobicage.rogerthat.FriendDetailOrInviteActivity" android:parentActivityName="com.mobicage.rogerthat.MainActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity android:configChanges="orientation|screenSize" android:name="com.mobicage.rogerthat.plugins.messaging.ServiceMessageDetailActivity" android:parentActivityName="com.mobicage.rogerthat.MainActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity android:configChanges="orientation|screenSize" android:name="com.mobicage.rogerthat.plugins.messaging.AttachmentViewerActivity" android:parentActivityName="com.mobicage.rogerthat.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity android:name="com.mobicage.rogerthat.FriendsLocationActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="com.mobicage.rogerthat.AboutActivity" android:parentActivityName="com.mobicage.rogerthat.MainActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity android:configChanges="orientation|screenSize" android:name="com.mobicage.rogerthat.SendMessageContactActivity" android:parentActivityName="com.mobicage.rogerthat.MainActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity android:configChanges="orientation|screenSize" android:name="com.mobicage.rogerthat.SendMessageMessageActivity" android:parentActivityName="com.mobicage.rogerthat.MainActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity android:configChanges="orientation|screenSize" android:name="com.mobicage.rogerthat.SendMessageButtonActivity" android:parentActivityName="com.mobicage.rogerthat.MainActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity android:name="com.mobicage.rogerthat.plugins.history.HistoryListActivity" android:parentActivityName="com.mobicage.rogerthat.MainActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.mobicage.rogerthat.MainActivity" />
        </activity>
        <activity android:name="com.mobicage.rogerthat.GroupDetailActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.mobicage.rogerthat.plugins.trackme.MapDetailActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.mobicage.rogerthat.registration.DetectedBeaconActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.mobicage.rogerthat.MoreActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.mobicage.rogerthat.OauthActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="com.mobicage.rogerthat.SetupPinActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="com.mobicage.rogerthat.EnterPinActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:icon="@drawable/rogerthat_camera" android:label="@string/camera" android:name="com.commonsware.cwac.cam2.CameraActivity" android:theme="@android:style/Theme.Holo.Light" />
        <activity android:icon="@drawable/rogerthat_camera" android:label="@string/camera" android:name="com.commonsware.cwac.cam2.VideoRecorderActivity" android:theme="@android:style/Theme.Holo.Light" />
        <activity android:excludeFromRecents="true" android:launchMode="singleInstance" android:name="com.mobicage.rogerthat.QuickReplyActivity" android:taskAffinity="" android:theme="@style/NoTitleDialogTheme" />
        <receiver android:name="com.mobicage.rogerthat.GCMReveiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.mobicage.rogerthat.MainBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service android:name="com.mobicage.rogerthat.MainService" />
        <service android:name="com.mobicage.rogerthat.registration.RegistrationService" />
        <service android:exported="false" android:name="org.altbeacon.beacon.service.BeaconService" />
        <service android:exported="false" android:name="org.altbeacon.beacon.BeaconIntentProcessor" />
        <provider android:authorities="com.facebook.app.FacebookContentProvider${facebook_content_provider_id}" android:exported="true" android:name="com.facebook.FacebookContentProvider" />
    </application>
    <uses-sdk android:minSdkVersion="16" />
</manifest>
