/keystore/debug.keystore
/rogerthat/src/main/res/values/secrets.xml
*~
*.bak
*.swp
/rogerthat/rogerthat.iml
*.tmp
*.pyc
*.class
*.dex
*.apk
*.ap_
bin/
.project
.classpath
local.properties
gradle.properties
.settings/
gen/
lib/src/asmack/lib/
.DS_Store
release-scripts/.pydevproject
CustomCloudConstants.java
.gradle
/.idea/workspace.xml
/.idea/runConfigurations.xml
/.idea/libraries
/.idea/codeStyleSettings.xml
build
