<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:configChanges="orientation|screenSize">

    <!-- UI TEST PERMISSIONS-->
    <!-- Allows unlocking your device and activating its screen so UI tests can succeed -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- Allows for storing and retrieving screenshots -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- Allows changing locales -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <application android:networkSecurityConfig="@xml/debug_network_security_config">
        <activity android:name="com.mobicage.rogerthat.test.screenshots.FakeNewsActivity"/>
    </application>
</manifest>
